.row {
    position: sticky;
    top: 0;
    z-index: 1;
}

body {
    background-image: cover;
    margin: 0;
}

#card-container {
    max-width: 100%;
    height: 465px;
    max-height: auto;
    border: 2px solid plum;
    border-radius: 30px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 100px auto 0 auto;
}

#card-container h5 {
    color: rgb(135, 121, 121);
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 15px;
    font-weight: 700;
}

.shuffle-section1,
.shuffle-section2,
.shuffle-section3 {
    width: 200px;
    height: 300px;
    /* border: 3px solid rgb(159, 90, 224); */
    border-radius: 10px;
    /* margin: 10px 30px 10px 30px; */
    margin: 10px;
    position: relative;
    box-shadow: 6px 6px 10px 10px rgb(226, 201, 226);
}

.shuffle-section1 img,
.shuffle-section2 img,
.shuffle-section3 img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.shuffle-section1 span,
.shuffle-section2 span,
.shuffle-section3 span {
    margin: 20px auto 5px auto;
    height: 30px;
    font-weight: 700;
    font-size: 25px !important;
    color: darkmagenta;
}



.shuffle-section:hover {
    background-color: rgb(223, 159, 223);
    border: none;
    transform: scale(1.05);
}

/* .flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: fixed;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    display: block;
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 10px;
}

.flip-card-back {
    background: none;
    /* color: white; 
    transform: rotateY(deg);
    border-radius: 10px;
} */

.shuffle-section1 span,
.shuffle-section2 span,
.shuffle-section3 span {
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: blueviolet;
    line-height: 10vh;

}

#result-container {
    max-width: 100%;
    height: fit-content;
    min-height: 350px;
    border: 2px solid plum;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: large;
    font-weight: 600;
    color: rgb(65, 55, 55);
}

#result-container h5 {
    font-weight: 700;
    font-size: x-large;
}

#result-container span {
    font-weight: 800;
    font-size: x-large;
    color: white;
    text-align: center;
}


#result-container div>span {
    background: brown;
    position: relative;
    animation: gfg 7s infinite;
}

@keyframes gfg {
    0% {
        top: 0px;
        width: 0px;
    }

    25% {
        top: 50px !important;
        background: rgb(228, 67, 166);
    }

    50% {
        top: 100px !important;
        background: pink;
    }

    100% {
        top: 200px !important;
        color: white;
        background: rgb(232, 115, 193);
        width: 210px;
    }
}






























.animation {
    /* width: 300px !important; */
    transition: transform .25s ease-in-out;
    transform: rotateY(180deg);
    animation: drop-in 1000ms;
}

#member-container {
    max-width: 100%;
    height: auto;
    border: 2px solid plum;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: medium;
    color: rgb(65, 55, 55);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.wrap {
    width: 20%;
    height: auto;
    box-sizing: border-box;
    border: 2px solid plum;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.unit-2 {
    float: left;
    box-sizing: border-box;
    background-clip: padding-box;
}

.unit-2 {
    width: 100%;
}

.wrap input[type="text"],
.wrap input[type="email"],
.wrap input[type="tel"],
.wrap input[type="password"],
.wrap textarea {
    width: 100%;
    border: 1px solid rgb(223, 159, 223);
    margin: 0 0 5px;
    padding: 10px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 3px 1.5px 3px 1.5px rgba(226, 213, 218, 0.7);
}

.wrap input[type="checkbox"] {
    max-width: 100%;
    border: 1px solid rgba(232, 197, 232);
    margin: 0 0 5px;
    padding: 10px;
    font-family: "Lato", sans-serif;
    text-align: left;
}

.wrap textarea {
    height: 147px;
    max-width: 100%;
}

.wrap button[type="submit"] {
    cursor: pointer;
    width: 30%;
    border: none;
    background: rgb(223, 159, 223);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 3px 1.5px 3px 1.5px rgba(223, 159, 223, 0.5);
    border-radius: 10px;
}

.wrap button[type="submit"]:hover {
    background: rgb(223, 159, 223);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.shuffle-card {
    width: 76%;
    height: auto;
    box-sizing: border-box;
    border: 2px solid plum;
    border-radius: 20px;
    margin: 10px auto auto 20px;
    padding: 20px;
    display: flex;
    justify-content: left;
    justify-items: left;
    align-items: center;
    flex-wrap: wrap;
}

.shuffle-card1:hover {
    background-color: rgb(223, 159, 223);
    border: none;
    transform: scale(1.05);
}

.shuffle-card1 {
    width: 203px;
    height: auto;
    border: 2px solid rgb(159, 90, 224);
    border-radius: 10px;
    /* margin: 10px 30px 10px 30px; */
    margin: 20px;
    position: relative;
    box-shadow: 6px 6px 6px 6px rgb(226, 201, 226, 0.6);
}

.shuffle-card1 img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    filter: opacity(55%);

}

.shuffle-card1 h3 {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity/see-through */
    color: white;
    /* border: 2px solid #f1f1f1;
    border-radius: 15px; */

    color: white;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    text-align: center;
    line-height: 150%;
    border-radius: 0 0 6px 6px;
}